@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


   body{

    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
   

   }
.container{
    
    height:10vh; 
}

.progresses{
    display: flex;
        align-items: center;
   }

   .line{

        width: 200px;
    height: 6px;
    background: #0C56D0;
   }

   .line1{

    width: 100px;
height: 6px;
background: #0C56D0;
}

   
   .steps{

    display: flex;
    background-color: #0C56D0;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

   }