.btn-dot{
    border-radius:10px ;
}
.caro-mid{
    width:50%;
}
  #card1{
    width: 25%;
    position: absolute;
    left:10%;
    top:110%;
  }
  .card2{
    width: 25%;
    position: absolute;
    left:40%;
    top:110%;
  }
  #card3{
    width: 25%;
    position: absolute;
    left:10%;
    top:180%;
  }
  .card4{
    width: 25%;
    position: absolute;
    left:40%;
    top:180%;
  }
  .side-wid{
    width:30%;
    position: absolute;
    left:70%;
  }
  .test-pos{
    position: absolute;
    top: 270%;
  }
  .fot-pos{
    position: absolute;
    top:330%;
    width: 100%;
  }
 
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  #foo-pos{
    position: absolute;
    top:350%;
  }
  /* Sidebar */
  .sidebar {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  .img-h{
    width: 45px;
    height: 45px;
  }
 #right-bar{
  position: absolute;

  top:100%;
  width:95%;
  left:3%;
  height: 120%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);

 }
 #right-pos{
  position: absolute;
  left:30%;
  width: 90%;
 }
 #right-pos1{
  position: absolute;
  left:30%;
 
 }

 #card-pos{
  position: absolute;
  top:10%;
  
  left:7%;
 }
 #card-pos1{
  position: absolute;
  left: 5%;
 
 }
 #card-pos2{
  position: absolute;
  left: 5%;
  top:10%;
 
 }

 
#card-down{
  position: absolute;
  top:20%;
  left:15%;
}
 .btn-style{
 
  display: inline;
  height: 50%;
 }
 #m-l{
  margin-left: 50px;
 }
 #application
 {
  position:absolute;
  top:10%;
  left:10%;
 }
 #vfooter{
  position: absolute;
  top:300%;
 }
 #pos-fo{
  position: absolute;
  top:200%;
 }
 #right-head{
  
  position: absolute;
  top:15px;
  left:30%;

 }
 .down{
  position: absolute;
  top:20%;
 }
 #applynow{
  position: absolute;
  top:80%;
  left:10%;
 }
 #testimonials{
  position: absolute;
  top:230%;
  width:94%;
  left:3%;
  background-color: rgb(54, 148, 230);

 }
 
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}
.tinybootstrap{
  position: absolute;
  top:20%;
  border: 1px solid black;
  height: 100%;
  left:7%;
}
.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
 #cat{
margin-top: 40%;
 }
 #drop-1{
  width:60%;
  text-align: center;
  margin-left: 15%;
 }
#table-pos{
  position: absolute;
  top:20%;
  width:20%;
  left:20%;
}
 #div1{
  position: absolute;
  top:40%;
  left: 20%;
 }
 .buttons-down{
  position: absolute;
  top:50%;
  display:  inline;
  

 }
 #right-head{
  position:absolute;
  top:10%;
  left:35%;
  color: rgb(54, 148, 230);;
 }